/* app/assets/stylesheets/products.css */
/*
 *= require_self
 *= require_tree .
*/
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #070707;
}

.product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f9f8fd;
    border-radius: 5px;
    background-color: #f6f4fc;
}

.product-container h2 {
    margin-bottom: 20px;
}

.product-container p {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #101111;
    color: rgb(240, 14, 14);
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0f0f0f;
}
